@import 'https://fonts.googleapis.com/css?family=Righteous';
body{
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      h1 {
        font-family: 'Righteous', cursive;
        font-size: 4em;
        border-bottom: 2px solid grey;
      }
      restaurant-list {

        .filter {
          width: 30%;

        }
        span {

          restaurant-display {
            color: #db2727;

            label{
              font-size: 2em;
              &:hover {
                color: complement(#db2727);
              }
            }
            restaurant-detail {
              font-size: 1em;
              color: black;
            }
          }
        }
      }
  }
}
